{%- for lang in site.data.translations %}
<tr>
    <td class="flag-{{ lang.flagCode | default: lang.code }}">{{ lang.name }}</td>
    <td>
        <a href="https://sourceforge.net/projects/tortoisesvn/files/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-{{ lang.exeCode | default: lang.code }}.msi/">Setup</a>
    </td>
    <td>
        <a href="https://sourceforge.net/projects/tortoisesvn/files/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-{{ lang.exeCode | default: lang.code }}.msi/">Setup</a>
    </td>
    <td>
        <a href="https://sourceforge.net/projects/tortoisesvn/files/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-ARM64-{{ lang.exeCode | default: lang.code }}.msi/">Setup</a>
    </td>
</tr>
{% endfor -%}
